input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {

    -webkit-text-fill-color: #757575 !important;

    box-shadow: 0 0 0 1000px transparent inset !important; 

    transition: background-color 5000s ease-in-out 0s;
}